.clients__link {
  width: 210px;
  height: 92px;
  background-color: var(--main-background-color);
  border-radius: 4px;
  border: 1px solid #afb1b8;
  cursor: pointer;
  transition-property: border-color;
  @extend %transition;
  @extend %flex-center;


  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    
  width: 226px;
  }
 

  @media screen and (min-width: 769px) {
width: 170px;
height: 92px;

  }
}


.clients__list {
  display: flex;
  flex-wrap: wrap;

@media screen and (min-width: 769px) {
justify-content: center;
flex-wrap: nowrap;
}

}



.clients__icon {
  fill: #afb1b8;
  transition-property: fill;
  @extend %transition;
}

.clients {
  text-align: center;
}

.clients__item {
  margin-bottom: 30px;
  margin-right: 30px;
}

.clients__item:nth-child(2n) {
  margin-right: 0;
}
.clients__item:nth-child(n+5) {
  margin-bottom: 0;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  
  .clients__list {
    gap: 30px;
  }
  .clients__item {
    margin: 0;
  }
}

@media screen and (min-width: 769px) {
  .clients__item+.clients__item {
    margin-left: 30px;
  }
}

