
.contacts {
  display:none;

  @media screen and (min-width: 481px) {
    display: block; 
  }

  @media screen and (min-width: 769px) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .contact-info  {
    display: flex;
    flex-direction: column;
    @include font(500, 34px, 1.17, 0.02em)
    
  }
}

@media screen and (min-width: 769px) {
.contact-info {
  display: flex;
  @include font(500, 14px, 1.14, 0.02em);
  }
}



@media screen and (min-width: 481px) and (max-width: 768px) {
  .contact-info {
    @include font(500, 12px, 1.16, 0.02em);
    
  }
  
}

.contact-info__icon--mail,
.contact-info__icon--tel {
  fill: var(--primary-text-color);
  transition-property: fill;
  @extend %transition;
  display: none;

  @media screen and (min-width: 481px) {
    display: inline-block;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    margin-right: 8px;

  }

  @media screen and (min-width: 769px) {
   margin-right: 10px;
  }
  
  }

  @media screen and (min-width: 769px) {
    .contact-info .contact-info__item+.contact-info__item {
      margin-left: 30px;
    }
  }

  

.contact-info__item--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  
}

.contact-info__item--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .contact-info__item:first-child {
    margin-bottom: 10px;
  }
 
}


.contact-info__link {
  color: var(--primary-text-color);
  text-decoration-line: none;
  transition-property: color;
  @extend %transition;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:hover .contact-info__icon--mail,
  &:focus .contact-info__icon--mail {
    fill: var(--accent-color);
  }

  &:hover .contact-info__icon--tel,
  &:focus .contact-info__icon--tel {
    fill: var(--accent-color);

@media screen and (min-width: 769px) {
  
padding-top: 32px;
padding-bottom: 32px;
display: inline-block;
}
    
  }


  @media screen and (min-width: 481px) and (max-width: 768px) {
    padding: 21px 0;
  }
}


// @media screen and (min-width: 769px) {
//   .contact-info__icon--mail,
//   .contact-info__icon--tel {
//     fill: var(--primary-text-color);
//     margin-right: 10px;
//     transition-property: fill;
//     @extend %transition;
//   }
// }