.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__title {
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  @include font(700, 14px, 1.14, 0.03em);
  text-align: center;
}

.features__description {
  color: var(--primary-text-color);
  @include font(null, 14px, 1.7, 0.03em);
  margin-bottom: 30px;
}



.features__item {
  // margin-right: 30px;
  // width: 270px;
  width: 450px;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  align-content: center;

  // &:nth-child(4n) {
  //   margin-right: 0;
  // }
}

.features__title--hidden {
  display: none;
}

.features__thumb {
  width: 450px;
  // width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--tertiary-white-background);
  margin-bottom: 30px;
  @extend %flex-center;
  
}

.features {
  padding-left: 15px;
  padding-right: 15px;
}