.footer__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  padding: 10px 28px;
  @extend %flex-center;
}

.footer__form--subscribe {
  // margin-left: 93px;
  width: 570px;
  
}



.footer__input--subscribe {
  // margin-right: 12px;
  // width: 100%;
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  // padding-top: 15px;
  // padding-bottom: 15px;
  // padding-left: 16px;
  // padding-right: auto;
  margin-bottom: 20px;
}

.footer__container--logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer__container--subscribe {
  // @extend %flex-center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__icon-send {
  margin-left: 10px;
}

.footer__title--subscribe {
  text-transform: uppercase;
  text-align: center;
  color: var(--main-background-color);
  margin-bottom: 20px;
  

  @include font(700, 14px, 1.14, 0.03em);
}

.footer-input {
  color: var(--main-background-color);
}

.footer__link--white {
  color: var(--main-background-color);

  transition-property: color;
  @extend %transition;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__link {
  color: var(--secondary-text-color);
  transition-property: color;
  @extend %transition;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__list .footer__item + .footer__item {
  margin-top: 8px;
}

.footer__item {
  font-style: normal;
  @include font(400, 14px, 1.7, 0.03em);
}

.footer__list--socials {
  display: flex;
  justify-content: center;
}

.footer__link--socials {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  @extend %transition;
  @extend %flex-center;

  &:hover,
  &:hover {
    background-color: var(--accent-color);
  }
}

.footer__item--socials + .footer__item--socials {
  margin-left: 10px;
}

.footer__icon--socials {
  fill: var(--main-background-color);
}

.footer__container--socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // align-items: flex-start;
  // flex-direction: column;
  // margin-left: 70px;
  margin-bottom: 60px;
}

.footer__title--join {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--main-background-color);
  @include font(700, 14px, 1.14, 0.03em);
}

.footer__container--contacts {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
//   align-items: baseline;

@media screen and (min-width: 481px) and (max-width: 768px) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

}

.footer {
  background-color: var(--dark-background);
  
}

.logo-link-footer {
  color: var(--main-background-color);
  text-decoration-line: none;
}

// .footer__section {
// padding-top: 60px;
// padding-bottom: 60px;
// }

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__container--logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__container--address {
  margin-bottom: 60px;
}