.footer__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  padding: 10px 28px;
  @extend %flex-center;
  margin: 0 auto;
}

.footer__form--subscribe {
 
  max-width: 450px;
  width: 100%;
  justify-self: center;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    grid-column: 1 / 3;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    min-width: 570px;
    grid-column: auto;
  }
  // @media screen and (min-width: 1200px) {
  //   justify-self: flex-start;
  // }

  // @media screen and (min-width: 769px) {
  //   margin-left: 93px;
  // }
  
}



.footer__input--subscribe {
  
  // max-width: 450px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }

  // @media screen and (min-width: 769px) {
  //   //  margin-right: 12px;
  //   //  width: 100%;
  //   //  padding-top: 15px;
  //   //  padding-bottom: 15px;
  //   // padding-left: 16px;
  //   // padding-right: auto;
  // }


}

.footer__container--logo {
  justify-self: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  @media screen and (max-width: 768px) {
    display: grid;
    place-items: center;
  }
  // @media screen and (min-width: 1200px) {
  //   justify-self: flex-end;
  // }
}

.footer__container--subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
  }
}

// @media screen and (min-width: 769px) {
//   .footer__container--subscribe {
//     @extend %flex-center;
//   }
// }

.footer__icon-send {
  margin-left: 10px;
}

.footer__title--subscribe {
  text-transform: uppercase;
  text-align: center;
  color: var(--main-background-color);
  margin-bottom: 20px;
  @include font(700, 14px, 1.14, 0.03em);

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-input {
  color: var(--main-background-color);
}

.footer__link--white {
  color: var(--main-background-color);

  transition-property: color;
  @extend %transition;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__link {
  color: var(--secondary-text-color);
  transition-property: color;
  @extend %transition;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__list .footer__item + .footer__item {
  margin-top: 8px;
}

.footer__item {
  font-style: normal;
  @include font(400, 14px, 1.7, 0.03em);
}

.footer__list--socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer__link--socials {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  @extend %transition;
  @extend %flex-center;

  &:hover,
  &:hover {
    background-color: var(--accent-color);
  }
}

.footer__icon--socials {
  fill: var(--main-background-color);
}

.footer__container--socials {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // margin-bottom: 60px;
  justify-self: center;
  text-align: center;
  // @media screen and (min-width: 769px) {
  //   margin-left: 70px;
  //   align-items: flex-start;
  // }
}

.footer__title--join {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--main-background-color);
  @include font(700, 14px, 1.14, 0.03em);
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__container--contacts {

// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
  display: grid;
  row-gap: 60px;
  grid-template-columns: 1fr;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: max-content max-content max-content;
    gap: 0;
    justify-content: space-between;
  }


// @media screen and (min-width: 768px) and (max-width: 1200px) {
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-around;
// }

// @media screen and (min-width: 1200px) {
//   flex-direction: row;
//   align-items: baseline;
// }

}

.footer {
  background-color: var(--dark-background);
  
}

.logo-link-footer {
  color: var(--main-background-color);
  text-decoration-line: none;
}

// .footer__section {
// padding-top: 60px;
// padding-bottom: 60px;
// }

.footer__list {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  @media screen and (max-width: 768px) {
    display: grid;
    place-items: center;
  }
}

// .footer__container--address {
//   margin-bottom: 60px;
// }