.header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid #ececec;
}

  .header__container {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  @media screen and (min-width: 768px) {
    
      .header__container {
        height: 80px;
      }
  }