.header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid #ececec;
}

  .header__container {
    display: flex;
    padding: 16px 15px;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    .header__container {
        width: 738px;
        padding: 0 15px;
      
    }

    @media screen and (min-width: 769px) {

      .header__container {
        width: 1200px;
       padding: 0;
      }
     
    }
  }