.hero {
  background-color: var(--dark-background);
  text-align: center;
  max-width: 768px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
  url(../../images/bg-img_sm.png);

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {

    background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
     url(../../images/bg-img_md@2x.png);
    
  }
}

.hero__title {
  color: var(--main-background-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  @include font(900, 26px, 1.61, 0.06em);

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    max-width: 1200px;
    background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../../images/bg-img_md.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../../images/bg-img_md@2x.png);
    
    }
}

}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    
    background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../../images/bg-img_lg.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../../images/bg-img_lg@2x.png);
    
    }

  }

  .hero__title {
    @include font(900, 44px, 1.36, 0.06em);
  }
}
