.hero {
  background-color: var(--dark-background);
  text-align: center;
  max-width: 480px;
  height: 400px;
  // padding: 118px 60px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../../images/mobile-header-image.jpg);
    
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and  (min-width: 481px) and (max-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../../images/tablet-hero-img.jpg);
}

}

@media screen and (min-width: 769px) {
  .hero {
    
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    padding: 118px 60px;
    
    background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../../images/deskttop-hero.jpg);


  }
}

.hero__title {
  color: var(--main-background-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  // @include font(900, 44px, 1.36, 0.06em);
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;

}
