.hero {
  background-color: var(--dark-background);
  text-align: center;
  // padding-top: 200px;
  // padding-bottom: 200px;
  // margin-left: auto;
  // margin-right: auto;
  // max-width: 1600px;
  // height: 600px;
  max-width: 480px;
  height: 400px;
  padding: 118px 60px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../../images/mobile-header-image.jpg);
    // url(../images/hero-img.jpg);
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: var(--main-background-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  // @include font(900, 44px, 1.36, 0.06em);
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;

}
