.logo {
  font-family: Raleway, serif;
  text-decoration: none;
  @include font(700, 24px, 1.16, 0.03em)

  
}


@media screen and (min-width: 1200px) {
  .logo{
    
    @include font(700, 26px, 1.2, 0.03em);
  }

 
}



.logo--black {
  color: var(--title-text-color);
  display: inline-block;
 

  @media screen and (min-width: 1200px) {
  
    margin-right: 93px;
  
  }
}





.logo--white {
  color: var(--main-background-color);
  display: inline-block;
  margin-bottom: 20px;

}



.logo--accent {
  color: var(--accent-color);
}
