.navigation__menu-button {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    position: relative;
    z-index: 99;
    cursor: pointer;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 8px;
}

