.navigation__menu-button {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    position: relative;
    z-index: 99;
    cursor: pointer;
    padding: 12px 8px;
    }
    

    

.menu-for-mobile {

@media screen and (min-width: 481px) {
    display: none;}
    
}