.mobile-overlay {
    width: 100vw;
    min-height: 100vh;
    position:fixed;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 10;
    transform: translateX(100%);
    transition: transform;
    visibility: hidden;
    pointer-events: none;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 40px;
}

.mobile-menu {
    width: 100%;
    height: 100%;
    background-color: white;
   
}

.mobile-overlay.is-open {
    transform: translateX(0);
    visibility: visible;
    pointer-events: initial;
}

.mobile-menu__navigation {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
}

.mobile-menu__socials-link {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  
}

.mobile-menu__contacts



  .mobile-menu__socials-table-data + .mobile-menu__socials-table-data {
   border-left: 1px solid rgba(33, 33, 33, 0.2);
  
 }