.page-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  row-gap: 15px;
  column-gap: 8px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}


//  .page-filter__item + .page-filter__item {
//    margin-left: 8px;
//    margin-bottom: 15px;
//  }

//  .page-filter__item:nth-child(4) {
//    margin-left: 0;
//  }

//  .page-filter__item:nth-child(n+4) {
//    margin-bottom: 0;
//  }

//  @media screen and (min-width: 481px) and (max-width: 768px) {
//    .page-filter__item  + .page-filter__item {
//      margin:0;
     
//    }

   
//  }


.page-filter__button {
  font-family: inherit;
  color: var(--title-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  background-color: var(--tertiary-white-background);
  border-color: transparent;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  @extend %transition;
  @include font(500, 16px, 1.6, 0.03em);

  &:hover,
  &:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
