.portfolio-project {
  display: flex;
  flex-direction: column;
}

.portfolio-project__description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-project__link {
  display: block;
  cursor: pointer;
  transition-property: box-shadow;
  @extend %transition;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-project__item {
  // margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(n+7) {
    margin-bottom: 0;
  }
}

.portfolio-project__title {
  color: var(--title-text-color);
  @include font(700, 18px, 2, 0.06em);
}

.portfolio-project__type {
  color: var(--primary-text-color);
  @include font(null, 16px, 1.8, 0.03em);
}

.portfolio-project__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-project__toptext {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-background-color);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms linear;
  @include font(400, 18px, 1.55, 0.03em);

  .portfolio-project__link:hover & {
    transform: translateY(0);
  }
}

.portfolio__container {
  padding-left: 15px;
  padding-right: 15px;
}

