.site-nav {
  color: var(--title-text-color);
  text-decoration: none;
  transition-property: color;
  @extend %transition;
  @include font(500, 40px, 1.17, 0.02em);
  display: flex;
  flex-direction: column;
  gap: 32px;

  .site-nav &:hover,
  .site-nav &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
   flex-direction: row;
   @include font(500, 14px, 1.14, 0.02em);
  }

  @media screen and (min-width: 1200px) {
    gap: 50px;
  }

}


.site-nav__link {
  color: var(--title-text-color);
}

.navigation {
  align-items: center;
  position: relative;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
  
}


.site-nav .site-nav__link.current {
  color: var(--accent-color);
  position: relative;
}


.navigation__icon-menu {
  opacity: 1;
  fill: black;
}


.navigation__menu-button.is-active .navigation__icon-menu {
  opacity: 0;
}

.navigation__menu-button.is-active .navigation__icon-cross {
  opacity: 1;
}



.navigation__icon-cross {
  opacity: 0;
  fill: black;

}

  
  .site-nav__link {
    color: var(--title-text-color);
  }
  
  
  .site-nav__link {
   
    display: inline-block;
  
    .site-nav &:hover,
    .site-nav &:focus {
      color: var(--accent-color);
    }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  
  }
}
  
  .site-nav .site-nav__link.current {
    color: var(--accent-color);
    position: relative;
  }
