.site-nav {
  color: var(--title-text-color);
  text-decoration: none;
  // display: flex;
  transition-property: color;
  @extend %transition;
  // @include font(500, 14px, 1.14, 0.02em);
  
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.site-nav__link {
  color: var(--title-text-color);
}

.navigation {
  display: flex;
  align-items: center;
  // position: relative;
  
}

// .site-nav .site-nav__item + .site-nav__item {
//   margin-left: 50px;
// }

.site-nav__link {
  // padding-top: 32px;
  // padding-bottom: 32px;
  // display: inline-block;

  .site-nav &:hover,
  .site-nav &:focus {
    color: var(--accent-color);
  }
}

.site-nav__item {
  padding-bottom: 32px;
}

.site-nav__item:nth-child(3n) {
  padding-bottom: 0;
}

.site-nav .site-nav__link.current {
  color: var(--accent-color);
  position: relative;
}


.navigation__icon-menu {
  opacity: 1;
  fill: black;
}


.navigation__menu-button.is-active .navigation__icon-menu {
  opacity: 0;
}

.navigation__menu-button.is-active .navigation__icon-cross {
  opacity: 1;
}



.navigation__icon-cross {
  opacity: 0;
  fill: black;
}
