.site-nav {
  color: var(--title-text-color);
  text-decoration: none;
  transition-property: color;
  @extend %transition;
  @include font(500, 40px, 1.17, 0.02em);
  display: flex;
  flex-direction: column;
  gap: 32px;

}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    @include font(500, 14px, 1.14, 0.02em);

  }
}

.site-nav__link {
  color: var(--title-text-color);
}

.navigation {
  display: flex;
  align-items: center;
  // position: relative;
  display: none;
  
}

// .site-nav .site-nav__item + .site-nav__item {
//   margin-left: 50px;
// }

.site-nav__link {
  // padding-top: 32px;
  // padding-bottom: 32px;
  // display: inline-block;

  .site-nav &:hover,
  .site-nav &:focus {
    color: var(--accent-color);
  }
}


.site-nav .site-nav__link.current {
  color: var(--accent-color);
  position: relative;
}


.navigation__icon-menu {
  opacity: 1;
  fill: black;
}


.navigation__menu-button.is-active .navigation__icon-menu {
  opacity: 0;
}

.navigation__menu-button.is-active .navigation__icon-cross {
  opacity: 1;
}



.navigation__icon-cross {
  opacity: 0;
  fill: black;

}



@media screen and (min-width: 1200px) {
  .site-nav {
    color: var(--title-text-color);
    text-decoration: none;
    display: flex;
    transition-property: color;
    // @extend %transition;
    @include font(500, 14px, 1.14, 0.02em);
  }
  
  .site-nav__link {
    color: var(--title-text-color);
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .site-nav .site-nav__item+.site-nav__item {
    margin-left: 50px;
  }
  
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
  
    .site-nav &:hover,
    .site-nav &:focus {
      color: var(--accent-color);
    }
  }
  
  .site-nav .site-nav__link.current {
    color: var(--accent-color);
    position: relative;
  }
}