.site-nav {
  color: var(--title-text-color);
  text-decoration: none;
  display: flex;
  transition-property: color;
  @extend %transition;
  @include font(500, 14px, 1.14, 0.02em);
}

.site-nav__link {
  color: var(--title-text-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;

  .site-nav &:hover,
  .site-nav &:focus {
    color: var(--accent-color);
  }
}

.site-nav .site-nav__link.current {
  color: var(--accent-color);
  position: relative;
}

.navigation__menu-button .navigation__icon-cross {
  display: none;
}

.navigation__menu-button.is-open .navigation__icon-cross {
  display: block;
}

.navigation__menu-button.is-open .navigation__icon-menu {
  display: none;
}
