.teamplayers__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.teamplayers__item {
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

 
  }





.teamplayers {
  background-color: var(--tertiary-white-background);
  text-align: center;

}

.teamplayers__link--socials {
  width: 44px;
  height: 44px;
  background-color: var(--main-background-color);
  border-radius: 50%;
  transition-property: background-color;
  @extend %transition;
  @extend %flex-center;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    cursor: pointer;

    &:hover .teamplayers__icon--socials,
    &:focus .teamplayers__icon--socials {
      fill: var(--main-background-color);
    }
  }
}

.teamplayers__list--socials {
display: flex;
justify-content: center;
align-items: center;
}



.teamplayers__icon--socials {
  fill: #afb1b8;
  transition-property: fill;
  @extend %transition;
}

.teamplayers__profile {
  padding-top: 30px;
  padding-bottom: 24px;
  
}


.teamplayers__name {
  color: var(--title-text-color);
  margin-bottom: 10px;
  @include font(500, 16px, 1.18, 0.03em);
}

.teamplayers__position {
  color: var(--primary-text-color);
  margin-bottom: 16px;
  @include font(null, 16px, 1.18, 0.03em);
}
