.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.hidden {
  display: none;
}
.current::after {
  content: "";
  width: 100%;
  background-color: var(--accent-color);
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}
.container {
  // width: 1200px;
  // padding-left: 15px;
  // padding-right: 15px;
  // margin: 0 auto;
  width:100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
  
}

@media screen and (min-width: 768px) {
  .container {
     width: 768px;
     background-color: teal;
    }
  
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    background-color: orange;
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}


.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.button {
  font-family: inherit;
  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
}
