html, 
body {
  overflow-x: hidden;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.hidden {
  display: none;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.current::after {
  content: "";
  width: 100%;
  background-color: var(--accent-color);
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}


.container {
  width: 100%;

  @media screen and (max-width: 768px) {

    max-width: 768px;
  }

  
  @media screen and (min-width: 768px) and (max-width: 1200px) {
  
    max-width: 1200px;
  }
  
  @media screen and (min-width: 1200px) {
  
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
}


.section {
  padding: 60px 15px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
  
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;

  }
}

.button {
  font-family: inherit;
  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
}
